**1. Importei as bibliotecas necessárias.**

In [12]:
import pandas as pd
import numpy as np

**2. Importei os dados.**

In [13]:
data = pd.read_csv('Crop_recommendation.csv')
data.head(10)

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice
5  69  37  42    23.058049  83.370118  7.073454  251.055000  rice
6  69  55  38    22.708838  82.639414  5.700806  271.324860  rice
7  94  53  40    20.277744  82.894086  5.718627  241.974195  rice
8  89  54  38    24.515881  83.535216  6.685346  230.446236  rice
9  68  58  38    23.223974  83.033227  6.336254  221.209196  rice

**3. Renomeei as colunas pra facilitar a interpretação.**

In [14]:
data.columns = ['nitrogen', 'phosphor', 'potassium', 'temperature', 'humidity', 'ph', 'rainfall', 'crop_label']
data.head(10)

,nitrogen,phosphor,potassium,temperature,humidity,ph,rainfall,crop_label
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice
1,85,58,41,21.770462,80.319644,7.038096,226.655537,rice
2,60,55,44,23.004459,82.320763,7.840207,263.964248,rice
3,74,35,40,26.491096,80.158363,6.980401,242.864034,rice
4,78,42,42,20.130175,81.604873,7.628473,262.717340,rice
5,69,37,42,23.058049,83.370118,7.073454,251.055000,rice
6,69,55,38,22.708838,82.639414,5.700806,271.324860,rice
7,94,53,40,20.277744,82.894086,5.718627,241.974195,rice
8,89,54,38,24.515881,83.535216,6.685346,230.446236,rice
9,68,58,38,23.223974,83.033227,6.336254,221.209196,rice

**4. Verifiquei se há valores nulos e duplicados.**

In [15]:
nulos = data.isnull().sum()
duplos = data.duplicated().sum()
print('Valores duplicados: ', duplos)
print('Valores nulos: ', nulos)

Valores duplicados:  103
Valores nulos:  nitrogen       0
phosphor       0
potassium      0
temperature    0
humidity       0
ph             0
rainfall       0
crop_label     0
dtype: int64

**5. Transformei a coluna 'crop_label' em numérica utilizando o LabelEncoder.**

In [16]:
data.to_csv('data_num.csv', index=False)

### Dados prontos para análise exploratória.